<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cupcakes!</title>
</head>

<body>

  <form id="searchform">
    <input id="searchterm" type="text" name="search">
    <button type="submit">Search cupcakes</button>
  </form>
  <ul></ul>

  <form id="addform">
    <label for="flavor">Flavor</label>
    <input id="flavor" type="text" name="flavor">

    <label for="size">Size</label>
    <input id="size" type="text" name="size">

    <label for="rating">Rating</label>
    <input id="rating" type="text" name="rating">

    <label for="image">Image url</label>
    <input id="image" type="text" name="image">

    <button type="submit">Add cupcake</button>
  </form>


  <!-- Jquery and axios -->
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/axios/dist/axios.js"></script>

  <script src="/static/main.js"></script>

</body>

</html>